body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkorange;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 900;
  font-size: 60px;
  color: white;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}

.poke-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  min-width: 25%;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px;
  background-color: white;
}

.poke-info {
  text-align: center;
}

.poke-container:hover {
  box-shadow: 5px 5px darkred;
}

.next-btn {
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: darkgreen;
  font-weight: 600;
  margin: 5px;
}

.button-container {
  padding: 10px;
}
