* {
    list-style-type: none;
    text-decoration: none;
    color: currentColor;
    margin: 0;
}

header {
    background-image: url('./images/ft-table.jpg');
    background-size: cover;
    background-position: 1% 10%;
    margin: auto;
    height: 500px;

}

h1 {
    color: white;
    font-family: sans-serif;
    font-size: 60px;
    text-align: left;
    margin-left: 50px;
    max-width: 500px;
    

}

.internal-links {
    
    

}

.internal-links ul {
    margin-top: 230px;
}

.internal-links li {
    display: inline-block;
    text-align: left;
    font-size: 25px;
    font-family: sans-serif;
    color: white;
    background-color: green;
    padding: 7px;
    border-radius: 10%;
}

.info {
    max-width: 60%;
    margin: auto;
    text-align: left;
}
