* {
    list-style-type: none;
    text-decoration: none;
    color: currentColor;
    margin: 0;
}

body {
    background-color: black;
    color: white;
}

header {
    background-image: url('./images/ft-table.jpg');
    background-size: cover;
    background-position: 1% 10%;
    margin: auto;
    height: 500px;

}

.h {
    text-align: center;
    color: aqua;
    padding: 15px;
}

h1 {
    color: aqua;
    font-family: sans-serif;
    font-size: 60px;
    text-align: left;
    margin-left: 50px;
    max-width: 500px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: 1000;

}

h2{
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

.internal-links {
    
    

}

.internal-links ul {
    margin-top: 230px;
}

.internal-links li {
    display: inline-block;
    text-align: left;
    font-size: 25px;
    font-family: sans-serif;
    color: white;
    background-color: green;
    padding: 7px;
    border-radius: 10%;
    margin-right: 10px;
}

.info {
   
}

.default-section {
    max-width: 60%;
    margin: auto;
    text-align: left;
}

.classification{ 
    
}

.img-classification {
    width: 200px;
    float: right;
    margin-left: 150px;
    margin-top: 30px;
    
}

.classification-list {
    margin-top: 48px;
    
}

li{
    text-align: right;
}