h1, p {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

li:hover {
    background-color: bisque;
}

li:active {
   font-family: sans-serif;
   transition: all;
}

li {
    list-style: none;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}