.App {
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
}

.header {
  background-color: #14213d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  width: 100%;
}

#root {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* background-color: #e5e5e5; */
  color: black;
  margin: none;
  width: 100%;
  /* min-height: 100vh; */
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: #e5e5e5;
}

a :hover {
  opacity: 0.5;
}

.profile {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 30px;
}

.profile:nth-child(3) {
  flex-grow: 1;
}

.profile-info {
  display: flex;
  flex-flow: column;
}

.img-profile {
  height: 500px;
  filter: grayscale(35%) brightness(90%);
}

/* .img-profile:hover {
  filter: grayscale();
  border: 3px solid #fca311;
} */

.title-profile {
  font-size: 50px;
  text-align: center;
  margin: 0;
  background-color: #fca311;
}

.subtitle-profile {
  text-align: center;
}

.about-profile {
  font-size: calc(9px + 1.5vmin);
  margin: 0 15px;
  line-height: 30px;
}